@import '../../constants/constants.css';

.filter__account {
    background-color: var(--background);
    min-height: 100vh;
}

.filter__content svg {
    padding-left: 42%;
    margin: auto;
    width: 60%;
}
.filter__content {
    padding-top: 15%;
}
#myForm {
    display: flex;
    justify-content: center;
}

#myForm label {
    font-family: var(--font-family-base);
    padding-left: 27%;
    line-height: 5rem;
    font-size: var(--very-large-font-size);
    color: #fff;
}

#myForm input {
    margin-left: 15%;
}

#username {
    background-color: rgb(38, 48, 60);
    outline: currentColor none 0;
    border: 0 none;
    border-radius: 0.25rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
    color: rgb(121, 184, 255);
    font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, monospace;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    #myForm label {
        font-family: var(--font-family-base);
        padding-left: 30%;
        line-height: 5rem;
        font-size: var(--large-font-size);
        color: #fff;
    }

    #myForm input {
        margin-left: 4%;
    }
}

@media only screen and (max-width: 500px) {
    #myForm label {
        padding-left: 18%;
    }
    .filter__content {
        padding-top: 40%;
    }
    #myForm input {
        margin-left: 5%;
        max-width: 90%;
    }
}
