nav {
    background-color: $optional-background;
    font-family: $font-family-base;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
}

.wrapper {
    bottom: 0;
    transform: translate(10%, -50%);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
    padding: 5px 15px 5px 15px;
    background-color: #ffffff;
    border-radius: 50px;
}

.wrapper li {
    display: inline-block;
    list-style: none;
}

.page-link {
    background-color: $optional-background;
    text-align: center;
    text-decoration: none;
    color: #333;
    border-radius: 50%;
    margin: 8px;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.2),
        0 3px 6px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 55px;
}

.page-link:hover,
.active {
    color: #fff;
    background-color: $background;
}

.fa-angle-left,
.fa-angle-right,
.fa-angle-double-left,
.fa-angle-double-right {
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    color: #333;
    margin: 8px;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.2),
        0 3px 6px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    width: 50px;
    height: 50px;
    line-height: 53px;
}

.fa-angle-left:hover,
.fa-angle-right:hover,
.fa-angle-double-left:hover,
.fa-angle-double-right:hover {
    color: #fff;
    background-color: $background;
}
.fa-angle-left,
.fa-angle-double-left {
    border-radius: 50px 0 0 50px;
}
.fa-angle-right,
.fa-angle-double-right {
    border-radius: 0 50px 50px 0;
}

@media only screen and (max-width: 900px) {
    .wrapper {
        margin-left: -10%;
    }
}

@media only screen and (max-width: 500px) {
    .wrapper {
        margin-top: 20%;
        border-radius: 20px;
        font-size: $small-font-size;
        padding: 5px 15px 5px 15px;
        margin-left: -15%;
    }

    .page-link {
        width: 20px;
        height: 20px;
        line-height: 23px;
    }
    .fa-angle-left,
    .fa-angle-right,
    .fa-angle-double-left,
    .fa-angle-double-right {
        width: 20px;
        height: 20px;
        line-height: 23px;

    }

    .fa-angle-left,
    .fa-angle-double-left {
        border-radius: 20px 0 0 20px;
    }
    .fa-angle-right,
    .fa-angle-double-right {
        border-radius: 0 20px 20px 0;
    }

    .fa-angle-left:hover,
    .fa-angle-right:hover,
    .fa-angle-double-left:hover,
    .fa-angle-double-right:hover {
        color: #fff;
        background-color: $background;
    }


}